<!-- <main class="cadastro-page"> -->

<main>
  <div class="container sombra-maluca align-self-center">
    <div class="img">
      <img src="{{ fotoUsuario }}" />

      <h3>Olá, {{ nomeUsuario }}!</h3>
    </div>

    <div class="input-ctn">
      <h3>Atualize seus dados!</h3>

      <div class="inpt-caixa">
        <label for="Nome">Nome completo</label>
        <input
          [(ngModel)]="usuarioModel.nome"
          type="text"
          class="form-control"
          type="text"
          name="nome"
          id="nome"
          placeholder="Digite seu nome"
        />
      </div>

      <div class="inpt-caixa">
        <label for="Usuário">E-mail</label>
        <input
          [(ngModel)]="usuarioModel.email"
          class="form-control color-text"
          type="text"
          name="usuario"
          id="usuario"
          placeholder="Digite seu email de usuário"
        />
      </div>

      <div class="inpt-caixa">
        <label for="Foto">Link da foto</label>
        <input
          [(ngModel)]="usuarioModel.foto"
          class="form-control color-text"
          type="text"
          name="foto"
          id="foto"
          placeholder="Digite o link da sua foto"
        />
      </div>

      <div class="inpt-caixa">
        <label for="Senha">A sua senha precisa ter 8 caracteres!</label>
        <input
          (input)="confirmaSenha($event)"
          class="form-control color-text"
          type="password"
          name="senha"
          id="senha"
          placeholder="Digite sua senha"
        />
      </div>

      <div class="inpt-caixa">
        <label for="confirmaSenha">Confirme a sua senha, por favor!</label>
        <input
          [(ngModel)]="usuarioModel.senha"
          class="form-control color-text"
          type="password"
          name="senha"
          id="confirmaSenha"
          placeholder="Confirme sua senha"
        />
      </div>

      <div class="inpt-caixa">
        <label for="tipo">Tipo de Usuário</label>
        <select
          class="form-control label-select"
          id="tipo"
          (change)="tipoUser($event)"
        >
          <option value="">Selecione um tipo de usuário</option>
          <option value="Normal">Normal</option>
          <option value="ADM">Administrador</option>
        </select>
      </div>

      <div class="d-flex justify-content-center mb-3 pt-3">
        <button
          type="submit"
          class="btn btn-outline-dark botao-hover m-20"
          routerLink="/feed"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="btn btn-outline-dark botao-hover m-20"
          (click)="atualizar()"
        >
          Atualizar
        </button>
      </div>
    </div>
  </div>
</main>

<!-- </main> -->
