<div class="container mt-5" class="f-st">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <h1 class="text-center my-4" class="textin"><strong>SOBRE O CONECT ELAS</strong></h1>
        <p class="text-justify" class="f-st">O Conect Elas é uma rede social que busca conectar e unir mulheres.
          Foi criada com o intuito de empoderar e auxiliar mulheres, tanto em questões do dia a dia quanto nas
          eventualidade da vida. Por
          meio dela as usuárias podem conectar-se e fazer parte de uma rede de apoio mútuo.
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center" style="margin-left: 100px;" class="circle">
        <img src="../../../assets/99820984.png" alt="logo conect elas">
      </div>
    </div>
  
    <hr>
    <div class="row">
      <div class="col-md-6 div-topicos">
        <h3 class="text-center text-titulo titulo-topicos mt-5" class="textin"><strong>MISSÃO</strong></h3>
        <h5 class=" text-conteudo text-justify text-center my-4 mb-5">Nossa missão é conectar mulheres e auxiliá-las a
          superar obstáculos.</h5>
      </div>
      <div class="col-md-6 justify-content-center align-items-center img-container">
        <img src="../../../assets/mulheresunidas.png" style="max-width: 450px; max-height: 450px;"
          alt="imagem de diversas mulheres em pé">
      </div>
  
      <div class="col-md-6 justify-content-center align-items-center img-container">
        <img class="elipse" src="../../../assets/crescimento.jpg" style="max-width: 350px; max-height: 350px;"
          alt="imagem de um time se ajudando">
      </div>
      <div class="col-md-6 div-topicos">
        <h3 class="text-center text-titulo titulo-topicos mt-5" class="textin"><strong>VISÃO</strong></h3>
        <h5 class=" text-conteudo text-justify text-center my-4 mb-5">Buscamos ser referência como rede de união de
          mulheres</h5>
      </div>
  
      <div class="col-md-6 div-topicos">
        <h3 class="text-center text-titulo titulo-topicos mt-5" class="textin"><strong>VALORES</strong></h3>
        <h5 class=" text-conteudo text-justify text-center my-4 mb-5">
          Os nossos valores são: Diversidade, Inovação, Equidade, Valorização e Respeito às pessoas.
        </h5>
      </div>
      <div class="col-md-6 justify-content-center align-items-center img-container">
        <img class="elipse"src="../../../assets/7-Business-illustration_-Vector.jpeg" style="max-width: 350px; max-height: 350px;"
          alt="imagem de um time de senvolvimento">
      </div>
    </div>
  </div>
  <hr>
  
  <div class="container my-4">
    <div class="row">
      <div class="col-md-12">
        <h2 class="titulo">Equipe Desenvolvedora</h2>
      </div>
    </div>
    <div class="row flex-wrap justify-content-center d-flex align-items-center">
      <a href="https://github.com/danigoulart" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/dani.jpeg" alt="...">
        <h2>Daniela Goulart</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di mim que vai caçá sua turmis!</h3>
      </a>
      <a href="https://github.com/erikakuo" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/erika.png" alt="...">
        <h2>Erika Kuo</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di mim que vai caçá sua turmis!</h3>
      </a>
      <a href="https://github.com/leodsc" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/leo.png" alt="...">
        <h2>Leonardo</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di mim que vai caçá sua turmis!</h3>
      </a>
      <a href="https://github.com/lucasbrlos"target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/lucas.jpg" alt="...">
        <h2>Lucas Silva</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di mim que vai caçá sua turmis!</h3>
      </a>
      <a href="https://github.com/LGustavoMachado" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/luiz.jpg" alt="...">
        <h2>Luis Gustavo</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di mim que vai caçá sua turmis!</h3>
      </a>
      <a href="https://github.com/vanessa-nvr" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/van.png" alt="...">
        <h2>Vanessa Navarro</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di mim que vai caçá sua turmis!</h3>
      </a>
      <a href="https://github.com/victorcosta1" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/victor.png" alt="...">
        <h2>Victor Costa</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di mim que vai caçá sua turmis!</h3>
      </a>
    </div>
    <hr>
  
  </div>
