<main>
  <div
    class="img-bg"
    [ngStyle]="{ backgroundImage: 'url(../../assets/img/bgpurple-modern.jpg)' }"
  >
    <!--SOBRE O CONECTELAS-->
    <div class="container mt-5 f-st espaco">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6" data-aos="fade-right">
          <h1 class="textin"><strong>SOBRE O CONECT ELAS</strong></h1>
          <p class="text-justify f-st mt-4">
            O Conect Elas é uma rede social que busca conectar e unir mulheres.
            Foi criada com o intuito de empoderar e auxiliar mulheres, tanto em
            questões do dia a dia quanto nas eventualidade da vida. Por meio
            dela as usuárias podem conectar-se e fazer parte de uma rede de
            apoio mútuo.
          </p>
        </div>
        <div
          class="col-md-6 d-flex justify-content-center align-items-center"
          data-aos="fade-left"
          style="margin-left: 100px"
          class="circle"
        >
          <img src="../../../assets/img/99820984.png" alt="logo conect elas" />
        </div>
      </div>
      <!--SOBRE O CONECTELAS-->

      <div style="margin-bottom: 102px"></div>

      <!--MISSÃO-->
      <div class="container mt-5" class="f-st">
        <div
          class="row d-flex justify-content-center align-items-center"
          data-aos="fade-right"
        >
          <div class="col-md-6">
            <h1 class="textin" style="font-size: 32px">
              <strong>MISSÃO</strong>
            </h1>
            <p class="text-justify f-st mt-4">
              Nossa missão é conectar mulheres e auxiliá-las a superar
              obstáculos.
            </p>
          </div>
          <div
            class="col-md-6 d-flex justify-content-center align-items-center"
            style="margin-left: 100px"
            class="img"
          >
            <img
              src="../../../assets/img/undraw_Happy_news_re_tsbd.png"
              alt="logo conect elas"
            />
          </div>
        </div>
        <!--MISSÃO-->

        <!--VISÃO-->
        <div class="container mt-5 f-st">
          <div
            class="row d-flex justify-content-center align-items-center"
            data-aos="fade-left"
          >
            <div class="col-md-6">
              <img
                src="../../../assets/img/undraw_Dream_world_re_x2yl.png"
                alt="imagem de um time se ajudando"
              />
            </div>
            <div class="col-md-6">
              <h1 class="textin" style="font-size: 32px">
                <strong>VISÃO</strong>
              </h1>
              <p class="text-justify f-st mt-4">
                Buscamos ser referência como rede de união de mulheres.
                <br />
              </p>
            </div>
          </div>
        </div>
        <!--VISÃO-->

        <!--VALORES-->
        <div class="container mt-5" class="f-st">
          <div
            class="row d-flex justify-content-center align-items-center"
            data-aos="fade-right"
          >
            <div class="col-md-6">
              <h1 class="textin" style="font-size: 32px">
                <strong>VALORES</strong>
              </h1>
              <p class="text-justify f-st mt-4">
                Os nossos valores são: Diversidade, Inovação, Equidade,
                Valorização e Respeito às pessoas.
                <br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur mi ligula, tincidunt a nunc eget, efficitur dapibus
                nisl. Curabitur a augue sit amet magna rutrum tincidunt
                malesuada quis erat. Quisque dignissim, lorem vel pulvinar
                porttitor, lacus orci hendrerit urna, in congue leo metus in
                nisl. Donec erat tellus, tincidunt eget massa sit amet, interdum
                volutpat libero. Cras varius eros ac sapien tempor malesuada.
                Etiam lacus dolor, feugiat et tincidunt nec, volutpat a nunc.
                Aliquam tempus purus nisi, in pulvinar lorem tempor ut. Vivamus
                sollicitudin sollicitudin elit at cursus. Ut non elit magna.
                Praesent sed ipsum malesuada sem pellentesque sagittis at sit
                amet odio.
              </p>
            </div>
            <div
              class="col-md-6 d-flex justify-content-center align-items-center"
              style="margin-left: 100px"
              class="img"
            >
              <img
                src="../../../assets/img/undraw_women_day_2m89.png"
                alt="logo conect elas"
              />
            </div>
          </div>
          <!--VALORES-->

          <div style="margin-bottom: 102px"></div>

          <!--Equipe Desenvolvedora-->
          <div class="container md-4" data-aos="fade-up">
            <div class="row">
              <div class="col-md-12">
                <h2 class="titulo">Equipe Desenvolvedora</h2>
              </div>
            </div>

            <div class="col-md-5 d-flex align-items-center">
              <!--DANI-->
              <div class="col-md-4">
                <div class="profile-card-2">
                  <img src="../../../assets/img/dani.jpeg" />
                  <div class="profile-name">DANIELA GOULART</div>
                  <div class="profile-icons">
                    <a href="https://github.com/danigoulart"
                      ><i class="fa fa-github color-prof-icon"></i
                    ></a>
                    <a href="https://www.linkedin.com/in/danigoulart/"
                      ><i class="fa fa-linkedin color-prof-icon"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!--DANI-->

              <!--ERIKA-->
              <div class="col-md-4">
                <div class="profile-card-2">
                  <img
                    src="../../../assets/img/erika.png"
                    class="img img-responsive"
                  />
                  <div class="profile-name">ERIKA KUO</div>
                  <div class="profile-icons">
                    <a href="https://github.com/erikakuo"
                      ><i class="fa fa-github color-prof-icon"></i
                    ></a>
                    <a href="https://www.linkedin.com/in/erikaeliskuo/"
                      ><i class="fa fa-linkedin color-prof-icon"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!--ERIKA-->

              <!--LEO-->
              <div class="col-md-4">
                <div class="profile-card-2">
                  <img
                    src="../../../assets/img/leo.png"
                    class="img img-responsive"
                  />
                  <div class="profile-name">LEONARDO CARVALHO</div>
                  <div class="profile-icons">
                    <a href="https://github.com/leodsc"
                      ><i class="fa fa-github color-prof-icon"></i
                    ></a>
                    <a href="https://www.linkedin.com/in/leodsc/"
                      ><i class="fa fa-linkedin color-prof-icon"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!--LEO-->

              <!--LUCAS-->
              <div class="col-md-4">
                <div class="profile-card-2">
                  <img
                    src="../../../assets/img/lucas.png"
                    class="img img-responsive"
                  />
                  <div class="profile-name">LUCAS FLORENCIO</div>

                  <div class="profile-icons">
                    <a href="https://github.com/lucasbrlos"
                      ><i class="fa fa-github color-prof-icon"></i
                    ></a>
                    <a href="https://www.linkedin.com/in/lucas-florencio/"
                      ><i class="fa fa-linkedin color-prof-icon"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!--LUCAS-->

              <!--LUIS-->
              <div class="col-md-4">
                <div class="profile-card-2">
                  <img
                    src="../../../assets/img/luiz.jpeg"
                    class="img img-responsive"
                  />
                  <div class="profile-name">LUÍS MACHADO</div>
                  <div class="profile-icons">
                    <a href="https://github.com/LGustavoMachado"
                      ><i class="fa fa-github color-prof-icon"></i
                    ></a>
                    <a href="https://www.linkedin.com/in/lgustavomachado97/"
                      ><i class="fa fa-linkedin color-prof-icon"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!--LUIS-->

              <!--VAN-->
              <div class="col-md-4">
                <div class="profile-card-2">
                  <img
                    src="../../../assets/img/van.jpg"
                    class="img img-responsive"
                  />
                  <div class="profile-name">VANESSA NAVARRO</div>
                  <div class="profile-icons">
                    <a href="https://github.com/vanessa-nvr"
                      ><i class="fa fa-github color-prof-icon"></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/in/vanessa-navarro-b02b24213/"
                      ><i class="fa fa-linkedin color-prof-icon"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!--VAN-->

              <!--VICTOR-->
              <div class="col-md-4">
                <div class="profile-card-2">
                  <img
                    src="../../../assets/img/victor.jpg"
                    class="img img-responsive"
                  />
                  <div class="profile-name">VICTOR COSTA</div>
                  <div class="profile-icons">
                    <a href="https://github.com/victorcosta1"
                      ><i class="fa fa-github color-prof-icon"></i
                    ></a>
                    <a href="https://www.linkedin.com/in/victor-costa-/"
                      ><i class="fa fa-linkedin color-prof-icon"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!--VICTOR-->
            </div>
          </div>
          <!--Equipe Desenvolvedora-->
        </div>
      </div>
    </div>
  </div>
</main>
