<article>
  <section >
    <div class="infoUser">
      <img src="https://i.pinimg.com/736x/6f/1e/fb/6f1efb3e2f7ddb6f6b9a3dbefabe0c67.jpg" alt="" width="50" height="50">
      <p class="nomeUser"> Fulano </p>
    </div>
    <div>
      <img src="" alt="">
      <p class="tituloPost">Titulo rsrsrs</p>
      <p class="textoPost"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias ex eius vero? Accusamus aperiam vitae asperiores voluptates voluptatem porro officia atque maiores aliquam officiis, eum facere eos ex doloribus soluta labore provident! A, aut alias tempore reiciendis placeat aliquid fugit sit natus qui minus. In dolorum voluptatibus expedita optio ipsa.</p>
    </div>
  </section>
</article>
