<section>
  <div class="info-user">
    <img
      class="info-user--img"
      src="{{ content.usuario.foto }}"
      alt=""
      width="125"
      height="125"
    />
    <p class="info-user--nome">{{ content.usuario.nome }}</p>
    <p class="info-user--data">{{ content.data }}</p>
  </div>
  <div class="post-info">
    <p class="titulo-post">{{ content.titulo }}</p>
    <img
      *ngIf="content.foto !== ''"
      class="foto-post"
      src="{{ content.foto }}"
      alt=""
    />
    <p class="texto-post">
      {{ content.texto }}
    </p>
  </div>
</section>
