<section class="home-page--carousel">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="shade">
          <h2 class="slide-title">Feito por elas, para elas.</h2>
          <p class="slide-text">
            Já pensou em vender seus serviços e poder comprar produtos de mulheres incríveis num unico lugar? A Conect Elas te conecta com quem quer comprar o seu produto ou serviço e com aquele produto que você estava querendo há tempos!

          </p>
        </div>
        <img
          class="d-block w-100"
          src="assets/images/image1.jpeg"
          alt="First slide"
        />
      </div>
      <div class="carousel-item">
        <div class="shade">
          <h2 class="slide-title">Feito por elas, para elas.</h2>
          <p class="slide-text">
            Temos uma área de Empregabilidade, destinado especialmente para vagas de todas as áreas, fomentando e aquecendo o mercado, como uma grande rede de apoio!
          </p>
        </div>
        <img
          class="d-block w-100"
          src="assets/images/image2.jpeg"
          alt="Second slide"
        />
      </div>
      <div class="carousel-item">
        <div class="shade">
          <h2 class="slide-title">Feito por elas, para elas.</h2>
          <p class="slide-text">
            Postagens de gatinhos, uma receita, uma poesia, uma vaga de emprego e de quebra aquele serviço que você estava procurando há dias! Onde? Aqui, na Conect Elas! Faça parte. :)
          </p>
        </div>
        <img
          class="d-block w-100"
          src="assets/images/image3.jpeg"
          alt="Third slide"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
