<div id="back1">
    <div class="row pt-5 pr-0 m-0 d-flex align-items-center">
        <div class="col-md-6 coluna1">
        <div>
            <h2 class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi iste vero provident, obcaecati nam
                ipsum
                doloremque aperiam reiciendis suscipit magni, laborum at quisquam odit magnam, tempore eum optio unde
                vitae.
            </h2>
        </div>
        </div>
        <div class="col-md-6 coluna2">
            <img class="img-ce" src="https://user-images.githubusercontent.com/99820984/155228861-42d83f3c-77a9-43f0-9883-7245dc7707b0.png" alt="">
        </div>
    </div>

    <div>
        <ul class="nav justify-content-center marginNav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Minhas Postagens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Marketplace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Empregabilidade</a>
            </li>
        </ul>
    </div>
</div>