#back1{
    background: rgb(138,52,126);
    background: linear-gradient(150deg, rgba(138,52,126,1) 0%, rgba(66,26,126,1) 37%, rgba(105,6,162,1) 70%);
 }
 .img-ce{
     width: 100%;
     padding: 0;
     border-radius: 15px;
     padding:0;
     box-shadow: 10px 13px 7px rgb(61, 4, 49);
}
.coluna1{
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}
.coluna2{
    margin: 0;
    padding: 0;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.marginNav{
    margin-top: 6%;

}
.nav-item{
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.nav-link{
    background-color: rgba(195, 0, 255, 0.678);
    border-radius: 15px;
    color: azure;
}

