* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  background-image: url('https://i.ibb.co/gwydKhD/6033687.jpg');
  width: 100vw;
  height: 100vh;

}
.img-ce {
  width: 110%;
  padding: 0;
  border-radius: 15px;
  padding: 0;
  box-shadow: 10px 13px 7px rgb(61, 4, 49);
}

