<!--SOBRE O CONECTELAS-->
<div class="container mt-5" class="f-st">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <h1 class="text-center my-4" class="textin"><strong>SOBRE O CONECT ELAS</strong></h1>
      <p class="text-justify" class="f-st">O Conect Elas é uma rede social que busca conectar e unir mulheres.
        Foi criada com o intuito de empoderar e auxiliar mulheres, tanto em questões do dia a dia quanto nas
        eventualidade da vida. Por
        meio dela as usuárias podem conectar-se e fazer parte de uma rede de apoio mútuo.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center" style="margin-left: 100px;" class="circle">
      <img src="../../../assets/img/99820984.png" alt="logo conect elas">
    </div>
  </div>
<!--SOBRE O CONECTELAS-->

  <hr>

  <!--MISSÃO-->
  <div class="container mt-5" class="f-st" class="ms-left">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <h3 class="text-center text-titulo titulo-topicos mt-5" class="textin"><strong>MISSÃO</strong></h3>
        <p class="text-justify" class="f-st">Nossa missão é conectar mulheres e auxiliá-las a
          superar obstáculos.
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="../../../assets/img/mulheresunidas.png" style="max-width: 450px; max-height: 450px;"
          alt="imagem de diversas mulheres em pé">
      </div>
    </div>
  </div>
  <!--MISSÃO-->

  <!--VISÃO-->
  <div class="container mt-5" class="f-st" >
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img class="elipse" src="../../../assets/img/crescimento.jpg" style="max-width: 350px; max-height: 350px;"
          alt="imagem de um time se ajudando">
      </div>
      <div class="col-md-6">
        <h3 class="text-center text-titulo titulo-topicos mt-5" class="textin"><strong>VISÃO</strong></h3>
        <p class="text-justify" class="f-st">Buscamos ser referência como rede de união de
          mulheres
        </p>
      </div>
    </div>
  </div>
  <!--VISÃO-->

  <!--VALORES-->
  <div class="container mt-5" class="f-st" class="ms-left">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <h3 class="text-center text-titulo titulo-topicos mt-5" class="textin"><strong>VALORES</strong></h3>
        <p class="text-justify" class="f-st">Os nossos valores são: Diversidade, Inovação, Equidade,
          Valorização e Respeito às pessoas.
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="../../../assets/img/7-Business-illustration_-Vector.jpg" style="max-width: 450px; max-height: 450px;"
          alt="imagem de um time desenvolvendo">
      </div>
    </div>
  </div>
  <!--VALORES-->

  <hr>

  <!--Equipe Desenvolvedora-->
  <div class="container my-4">
    <div class="row">
      <div class="col-md-12">
        <h2 class="titulo">Equipe Desenvolvedora</h2>
      </div>
    </div>
    
    <div class="row flex-wrap justify-content-center d-flex align-items-center">
      <!--DANI-->
      <a href="https://github.com/danigoulart" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/img/dani.jpeg" alt="...">
        <h2>Daniela Goulart</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di
          mim que vai caçá sua turmis!</h3>
      </a>
      <!--DANI-->

      <!--ERIKA-->
      <a href="https://github.com/erikakuo" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/img/erika.png" alt="...">
        <h2>Erika Kuo</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di
          mim que vai caçá sua turmis!</h3>
      </a>
      <!--ERIKA-->

      <!--LEO-->
      <a href="https://github.com/leodsc" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/img/leo.png" alt="...">
        <h2>Leonardo</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di
          mim que vai caçá sua turmis!</h3>
      </a>
      <!--LEO-->

      <!--LUCAS-->
      <a href="https://github.com/lucasbrlos" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/img/lucas.jpg" alt="...">
        <h2>Lucas Silva</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di
          mim que vai caçá sua turmis!</h3>
      </a>
      <!--LUCAS-->

      <!--LUIS-->
      <a href="https://github.com/LGustavoMachado" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/img/luiz.jpg" alt="...">
        <h2>Luis Gustavo</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di
          mim que vai caçá sua turmis!</h3>
      </a>
      <!--LUIS-->

      <!--VAN-->
      <a href="https://github.com/vanessa-nvr" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/img/van.png" alt="...">
        <h2>Vanessa Navarro</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di
          mim que vai caçá sua turmis!</h3>
      </a>
      <!--VAN-->

      <!--VICTOR-->
      <a href="https://github.com/victorcosta1" target="_blank" class="textWithBlurredBg">
        <img src="../../../assets/img/victor.png" alt="...">
        <h2>Victor Costa</h2>
        <h3>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Quem num gosta di
          mim que vai caçá sua turmis!</h3>
      </a>
      <!--VICTOR-->

    </div>
  </div>
  <!--Equipe Desenvolvedora-->

  <hr>