<main>
  <div class="corpo">
    <form action="">
      <h2>Login</h2>                    
                   
              <input alt="Insira seu Usuário"
                  [(ngModel)]="usuarioLogin.email"
                  type="text"
                  class="form-control color-text"
                  type="text"
                  name="email"
                  id="email"
                  placeholder="E-mail"
                />
                <input
                  [(ngModel)]="usuarioLogin.senha"
                  type="password"
                  name="senha"
                  placeholder="Senha"
                  id="senha"
                />
                <input type="button" value="Entrar" (click)="entrar()" />
                <p>
                  Não tem um login? <a routerLink="/cadastro">Cadastre-se</a>
                </p>
                 
          
       
     
    </form>
  </div>
</main>
