@import url('https://fonts.google.com/specimen/Poppins?query=poppins');

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html, body{
  height: 100%;
  background-image: url('http://i.ibb.co/gwydKhD/6033687.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.corpo{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 30%;
  height: 400px;
  background: rgba(141, 58, 219, 0.401);
  box-shadow: 0 8px 32px 0 #ab0acfaf;
  backdrop-filter: blur (7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.corpo h2{
  text-transform: uppercase;
  text-align: center;
  color: #c510ed;
  padding: 20px 0px;

  background: rgba(141, 58, 219, 0.401);
  box-shadow: 0 8px 32px 0 #ab0acfaf;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  

}
.corpo h2{
  text-transform: uppercase;
  text-align: center;
  color: #c510ed;
  padding: 20px 0px;


}

.corpo h2::after{
display: block;
width: 25%;
content: '';
margin: 10px auto;
border-bottom: 3px solid #61109b;
}

.corpo input{
  display: block;
  width: 75%;
  height: 48px;
  margin: 20px auto;
  box-sizing: content-box;
  padding: 2px 5px;
  transition: .2s;
  border: 2px solid #c510ed;
  border-radius: 25px;
  font-size: 16pt;
  outline: none;
  background-color: transparent;
  text-shadow: 10px;
  color: white; 
}

.corpo input[type="text"]:focus,
.corpo input[type="password"]:focus{
  background-color: #5f0872;
  color: white;
}

.corpo input[type="text"]::placeholder,
.corpo input[type="password"]::placeholder{
  font-size: 16pt;
  color: #c510ed;
  text-indent: 10px;
  }

.corpo input[type="text"]::placeholder:focus,
.corpo input[type="password"]::placeholder:focus{
  color: rgb(234, 0 , 255);
}
.corpo input[type="submit"]{
  background-color: transparent;
  color: #c510ed;
  cursor: pointer;
}
.corpo input[type="submit"]:hover{
  background-color: #5f0872;
  color: white;
  transition: 1.2s;
}

.corpo p{
  text-align: center;
  color: #e9c2f2;
}

.corpo p a{
  color: #e419ff;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .corpo{
    width: 70%;
  }
  }

  @media screen and (max-widht:400px) {
    .corpo{
      width: 85%;
    }
    
  }