@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500&family=Comfortaa:wght@300;700&family=Gothic+A1:wght@700&family=Josefin+Sans:wght@100;200;300&family=Maven+Pro&family=Montserrat+Alternates:wght@100;200&family=Montserrat:wght@100&family=Press+Start+2P&family=Raleway:wght@300&family=Red+Hat+Mono&family=Smooch+Sans:wght@200&family=Yanone+Kaffeesatz:wght@300;400&display=swap");


/*poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Syne&display=swap');
/*--------------------------------------------------------*/

/*syne*/
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
/*----*/

*{
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Syne', sans-serif;
}



/* glasmorfism*/
.textin {
  box-sizing: border-box;
  box-shadow: 58px 20px 100px #bc8fcabb;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  
  background: rgba( 143, 84, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* login caixa/div */
.login {
  background-color: #fffeff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.login label{
  color: #550990;
}

/* background  */
.img-bg {
  height: 100% !important;
  width: 100% !important;
  background-image: url(https://i.ibb.co/gwydKhD/6033687.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* caixa input */
.login input {
  margin-top: 2px;
  /*border-radius: 60px;
  background-color: rgba(242, 11, 250, 0.198);
  
  color: #ffffff !important;*/



  background: rgba( 192, 72, 255, 0.1 );

backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.login input:focus {
  outline-color: rgb(123, 0, 255);
}

.f-st {
  margin-top: 2px;
  font-family: "Montserrat Alternates", sans-serif, monospace;
  font-size: 18px;
  color: #6148bf;
  font-weight: bold;
}

.h1-ola {
  
background: #550990;
background: -webkit-linear-gradient(to right, #550990 0%, #D417D4 43%, #830A90 100%);
background: -moz-linear-gradient(to right, #550990 0%, #D417D4 43%, #830A90 100%);
background: linear-gradient(to right, #550990 0%, #D417D4 43%, #830A90 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.h3-seja{
  background: #FFFFFF;
background: -webkit-linear-gradient(to right, #FFFFFF 50%, #e920e9 50%);
background: -moz-linear-gradient(to right, #FFFFFF 50%, #e920e9 50%);
background: linear-gradient(to right, #FFFFFF 50%, #e920e9 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.linhaComTexto {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid rgba(83, 83, 83, 0.23);
  text-align: center;
}

.linhaComTexto > span {

  color: #550990;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #fffffffd;
  padding: 0 10px;
}


.c-inp {
  
}
.color-text {
  font-family: "Montserrat Alternates", sans-serif, monospace!important;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
}

.img-log {
  margin-top: 0px;
  width: 350px;
  height: auto;
  margin-left: -50px;
}

.btn {
  font-family   : 'VT323', monospace;
  font-size     : 15pt;
  font-weight   : bold;
  margin-right  : 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition    : 0.5s;
  line-height   : 30px;
  margin-left: 30px;
  background-color: #550990;
  color: #ffffff;
  border-radius: 30px!important;

}
.btn-1:hover {
  background      : #06000e url();
  color           : rgb(238, 238, 238);
  transition-delay: 0.5s;
  background-size : auto;
  animation       : animate 0.8s steps(8) forwards;

}

.btn-2:hover{
  background      : rgb(160, 0, 93) url();
  color           : #ffffff;
  transition-delay: 0.5s;
  background-size : auto;
  animation       : animate 0.8s steps(8) forwards;
}

@keyframes animate {
  0% {
      background-position-y: 0px;
  }

  100% {
      background-position-y: -480px;
  }

}

