@import url('https://fonts.google.com/specimen/Poppins?query=poppins');

*{
  
  font-family: 'Poppins', sans-serif;
}
/*.card-ctn {
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 60px !important;
}*/

/* glasmorfism*/
.textin {
  box-sizing: border-box;
  box-shadow: 58px 20px 100px  #c510ed;
  color: #c510ed;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 60px;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}


/* login caixa/div */
.login {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: solid #c510ed;
  padding: 0px 0px;
  
}

/* background  */
.img-bg {
  height: 100% !important;
  width: 100% !important;
  background-image: url(http://i.ibb.co/gwydKhD/6033687.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* caixa input */
.login input {
  
  margin-top: 2px;
  border-radius: 60px;
  background-color: 2px  #c510ed;
  background-color: transparent;
  font-family: 'Poppins', "sans-serif", monospace!important;
  color: #ffffff !important;
  border: 1px solid #c510ed;
}


.f-st {
  margin-top: 2px;
  font-family: 'Poppins', "sans-serif", monospace;
  font-size: 18px;
  
  color:#c510ed;
  font-weight: bold; /*negrito*/
}



.c-inp { /*olá*/
  font-family: 'Poppins', "sans-serif", monospace!important;
  color: white;
}
/* não muda nada
.color-text {
  font-family: 'Poppins', "sans-serif", monospace!important;
  color: white !important;
  font-size: 14px;
  
}*/

.img-log { /* imagem ao lado*/
  margin-top: 0px;
  width: 350px;
  height: auto;
  margin-left: -50px;
}

.btn { /*botão*/
  font-family   : 'Poppins', "sans-serif", monospace;
  font-size     : 15pt;
  font-weight   : bold;
  margin-right  : 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition    : 0.5s;
  line-height   : 30px;
  margin-left: 30px;
  background-color: rgb(107, 6, 128);
  color: #e95db3;
  border-radius: 30px!important;

}
.btn-1:hover {
  background      : #06000e url();
  color           : rgb(238, 238, 238);
  transition-delay: 0.5s;
  background-size : auto;
  animation       : animate 0.8s steps(8) forwards;

}

.btn-2:hover{
  background      : rgb(160, 0, 93) url();
  color           : #ffffff;
  transition-delay: 0.5s;
  background-size : auto;
  animation       : animate 0.8s steps(8) forwards;
}


@keyframes animate {
  0% {
      background-position-y: 0px;
  }

  100% {
      background-position-y: -480px;
  }

}