<!-- Nav bar -->

  <div class="container d-flex ">
    <nav class="navbar fixed-top navbar-expand-lg mb-5 bg">
      <a class="navbar-brand font-weight-bold" href="#">Conect+ Elas</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="nav nav-tabs align-items-end">

          <li class="nav-item active btn btn-2">

            <a class="nav-link color-font" href="#">Sobre <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#">ODS-5</a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#">O projeto</a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#">Sobre Nós </a>
          </li>
          <li class="nav-item dropdown btn-2">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Conectar
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink='/login'>Entrar</a>
                <a class="dropdown-item" routerLink='/cadastrar'>Cadastrar</a>
                <a class="dropdown-item" href="#contato">FAQ</a>
            </div>
        </li>

        </ul>
      </div>
    </nav>
  </div>
  <!-- Nav bar -->


