<!-- Nav bar -->

  <div class="container d-flex ">
    <nav class="navbar fixed-top navbar-expand-lg mb-5 bg">
      <img src="https://i.ibb.co/Bck7S0j/Conectando-elas-com-elas-1-removebg-preview.png" class="logo"  alt="">
      <a class="navbar-brand font-weight-bold" href="#">Conect+ Elas</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="nav nav-tabs align-items-end">

          <li class="nav-item active btn btn-2">

            <a class="nav-link color-font" href="#">Inicio <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#">O projeto</a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#">Solução</a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#">Sobre Nós </a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#">Cadastrar </a>
          </li>

          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#"> Entrar </a>
          </li>
          <li class="nav-item btn btn-2">
            <a class="nav-link color-font" href="#">FAQ </a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
  <!-- Nav bar -->


