/*  -- sidebar--   */
li {
  list-style-type: none;
}

aside {
  background: rgba(232, 229, 236, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215px;
  position: fixed;
  padding-top: 2rem;
  align-self: flex-start;
  left: 0;
  bottom: 0;
  height: 90%;
}

.nomeUsuario {
  text-transform: capitalize;
  font-weight: 600;
}

.fotoUsuario {
  border-radius: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.qntd {
  font-weight: 600;
  font-size: 0.95rem;
}

.post-qntd {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.links {
  padding: 2rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.link {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link-ctn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#sair {
  margin-top: 2rem;
}

.ativo {
  width: 100px;
  height: 100px;
  background-color: red;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
  padding-top: 1rem;
}

.negrito {
  font-weight: 600;
  text-decoration: none;
  color: black !important;
}
