<header>
  <nav>
    <p class="titulo">ConectElas</p>
    <ul>
      <a routerLink="/feed">
        <li><button>Todas as Postagens</button></li>
      </a>
      <a routerLink="/marketplace">
        <li><button>Marketplace</button></li>
      </a>
      <a routerLink="/empregabilidade">
        <li><button>Empregabilidade</button></li>
      </a>
    </ul>
    <input
      type="text"
      placeholder="Procurar postagem"
      [ngModel]="termo"
      (change)="procurar()"
    />
  </nav>
</header>
