<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://i.ibb.co/gVS7q24/9.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://i.ibb.co/zS5xsMS/8.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://i.ibb.co/gVGtLCT/7.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-target="#carouselExampleIndicators"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-target="#carouselExampleIndicators"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
<!-- Fim do Carrossel -->

<!-- inicio cards sobre temas-->
<div class="bg-cor">
  <div class="cards-inicio align-center ml-5 mt-5 mb-5"id="projeto">
    <div class="card-columns justify-content-center mb-3">
      <div class="card1 card-bg p-2 card-eft" style="width: 25rem">
        <img
          src="https://i.ibb.co/CbW60jk/girl-on-social-media.jpg"
          class="card-img-top img-border"
          alt="..."
        />
        <div class="card-body">
          <p class="card-title text-center crd-txt">Postagens</p>
          <p class="card-text text-center crd-txt2">
            Uma rede social completa onde você pode ser quem você é! Compartilhe
            suas ideias e seus gostos pessoais e encontre pessoas com os mesmos
            gostos que o seu!
          </p>
        </div>
      </div>

      <div class="card1 card-bg p-2 card-eft ml-5 mr-5" style="width: 25rem">
        <img
          src="https://i.ibb.co/QJmr0QN/close-up-on-attractive-carefree-young-woman-sitting-on-the-floor.jpg"
          class="card-img-top img-border"
          alt="..."
        />
        <div class="card-body">
          <p class="card-title text-center crd-txt">Empregabilidade</p>
          <p class="card-text text-center crd-txt2">
            Uma rede de apoio sempre conta com indicações de quem a gente
            confia! Encontre na seção Empregabilidade vagas de emprego de
            diversas áreas, onde você também pode contribuir!
          </p>
        </div>
      </div>

      <div class="card1 card-bg p-2 card-eft" style="width: 25rem">
        <img
          src="https://i.ibb.co/DRwJcZj/woman-using-social-media-on-her-smartphone-while-in-a-car.jpg"
          class="card-img-top img-border"
          alt="..."
        />
        <div class="card-body">
          <p class="card-title text-center crd-txt">Marketplace</p>
          <p class="card-text text-center crd-txt2">
            Realize a compra e venda de produtos ou serviços de mulheres!
            Encontre quem procura aquele item que você não usa mais ou aquela
            aula de inglês que você sempre quis fazer!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fim cards sobre temas-->

<!-- Sobre A ODS -->

<div id="sobre2" class="offset">
  <div class="sobre container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-4 mb-5">
        <div class="sobre-bg mt-2">
          <!-- inicio descrição das ods -->
          <div class="row text-center text-black mt-2 mb-2">
            <div class="col-md-12 d-flex justify-content-center mb-5">
              <div class="picture text-center">
                <h3>Objetivos de Desenvolvimento Sustentável</h3>
                <p class="text-center fs-16">
                  São uma coleção de 17 (dezessete) metas globais, estabelecidas
                  pela Assembleia Geral das Nações Unidas.<br />
                  Sendo uma delas a ODS-5 que propõe metas para a redução da
                  Desigualdade de Gênero até 2030, sendo algumas delas:
                </p>
              </div>
            </div>
          </div>
          <!-- fim da descrição -->
          <div class="wrapper d-flex justify-content-center w-00">
            <div class="cards-container">
              <!-- inicio card 1 -->
              <div class="card">
                <div class="card-wrapper">
                  <div class="front-card">
                    <div>
                      <h2 class="borda">Objetivo 5.5</h2>
                      <a
                        href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                        target="_blank"
                        ><i
                          class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                        ></i
                      ></a>
                    </div>
                  </div>
                  <div class="rear-card">
                    <p>
                      Garantir a participação plena e efetiva das mulheres e a
                      igualdade de oportunidades para a liderança em todos os
                      níveis de tomada de decisão na vida política, econômica e
                      pública.
                    </p>
                    <div class="about-info">
                      <div>
                        <h2>Nações Unidas</h2>
                        <p class="text-center">Igualdade de Gênero - ODS</p>
                        <a
                          href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                          target="_blank"
                          ><i
                            class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                          ></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- fim card 1 -->

              <!-- inicio card 5 -->
              <div class="card">
                <div class="card-wrapper">
                  <div class="front-card">
                    <div>
                      <h2 class="borda">Objetivo 5.1</h2>
                      <a
                        href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                        target="_blank"
                        ><i
                          class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                        ></i
                      ></a>
                    </div>
                  </div>
                  <div class="rear-card">
                    <p>
                      Acabar com todas as formas de discriminação contra todas
                      as mulheres e meninas em todas partes.
                    </p>
                    <div class="about-info">
                      <div>
                        <h2>Nações Unidas</h2>
                        <p class="text-center">Igualdade de Gênero - ODS</p>
                        <a
                          href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                          target="_blank"
                          ><i
                            class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                          ></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- fim Card 5-->

              <!-- inicio Card 2-->
              <div class="card">
                <div class="card-wrapper">
                  <div class="front-card">
                    <div>
                      <h2 class="borda">Objetivo 5.b</h2>
                      <a
                        href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                        target="_blank"
                        ><i
                          class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                        ></i
                      ></a>
                    </div>
                  </div>
                  <div class="rear-card">
                    <p>
                      Aumentar o uso de tecnologias de base, em particular as
                      tecnologias de informação e comunicação, para promover o
                      empoderamento das mulheres.
                    </p>
                    <div class="about-info">
                      <div>
                        <h2>Nações Unidas</h2>
                        <p class="text-center">Igualdade de Gênero - ODS</p>
                        <a
                          href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                          target="_blank"
                          ><i
                            class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                          ></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- fim do  Card 2 -->
              <!-- inicio Card 3 -->
              <div class="card">
                <div class="card-wrapper">
                  <div class="front-card">
                    <div>
                      <h2 class="borda">Objetivo 5.c</h2>
                      <a
                        href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                        target="_blank"
                        ><i
                          class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                        ></i
                      ></a>
                    </div>
                  </div>
                  <div class="rear-card">
                    <p>
                      Adotar e fortalecer políticas sólidas e legislação
                      aplicável para a promoção da igualdade de gênero e o
                      empoderamento de todas as mulheres e meninas em todos os
                      níveis.
                    </p>
                    <div class="about-info">
                      <div>
                        <h2>Nações Unidas</h2>
                        <p class="text-center">Igualdade de Gênero - ODS</p>
                        <a
                          href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                          target="_blank"
                          ><i
                            class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                          ></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--fim do Card 3-->
              <!-- inicio card 4 -->
              <div class="card">
                <div class="card-wrapper">
                  <div class="front-card">
                    <div>
                      <h2 class="borda">Objetivo 5.c.1</h2>
                      <a
                        href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                        target="_blank"
                        ><i
                          class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                        ></i
                      ></a>
                    </div>
                  </div>
                  <div class="rear-card">
                    <p>
                      Proporção de países com sistemas para monitorar e fazer
                      alocações públicas para a igualdade de gênero e o
                      empoderamento das mulheres
                    </p>
                    <div class="about-info">
                      <div>
                        <h2>Nações Unidas</h2>
                        <p class="text-center">Igualdade de Gênero - ODS</p>
                        <a
                          href="https://odsbrasil.gov.br/objetivo/objetivo?n=5"
                          target="_blank"
                          ><i
                            class="fa-solid fa-chart-line mr-3 fa-2x text-white"
                          ></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- fim card 4 -->
            </div>
          </div>
          <div class="row">
            <p class="fs-16 text-center mt-5">
              Com essa preocupação em mente, pensamos numa Rede Social que
              pudesse conectar mulheres, onde elas pudessem criar uma rede de
              apoio, a Conect+ Elas nasceu da sede e fome de Inovação e Empatia,
              criada por mulheres para as mulheres, oferecemos uma área de
              Marketplace para as nossas usuárias poderem fomentar e aquecer o
              mercado entre mulheres, pensando na inserção de Mulheres no
              mercado de trabalho, trazemos uma área totalmente voltada para a
              Empregabilidade onde você pode indicar e postar vagas de todas as
              áreas que estejam contratando. <br> <br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- inicio sobre nós -->
    <!--
<div id="missaovisao" class="offset">

  <div class="jumbotron jumbotron-fluid bg-white folhasreais mb-0">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-12 text-center">
                  <h1 class="missaoh1 equipeh1">Nossos Pilares</h1>
              </div>
          </div>
          <div class="row text-center text-black">
              <div class="col-md-4 d-flex justify-content-center">
                  <div class="picture text-center">
                      <i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5"></i>
                      <h3>Missão</h3>
                      <p class="text-center">Transformamos vidas por meio da educação e tecnologia, promovendo o
                          desenvolvimento local
                          e inclusão social.
                      </p>
                  </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                  <div class="picture">
                      <i class="fas fa-chart-line fa-4x" data-fa-transform="shrink-3 up-5"></i>
                      <h3>Visão</h3>
                      <p class="text-center">Mudar o mundo através da tecnologia e inclusão digital.</p>
                  </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                  <div class="picture">
                      <i class="far fa-gem fa-4x" data-fa-transform="shrink-3 up-5"></i>
                      <h3>Valores</h3>
                      <p class="text-center">Respeito à vida, às pessoas e ao meio ambiente

                          ética e honestidade,

                          compromisso com o crescimento e resultado,

                          solidariedade e

                          inclusão.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- fim do sobre nós  -->
  </div>

  <!-- inicio do footer -->
  <footer class="bg-cor">
    <div class="container-fluid container-footer mt-5">
      <div class="row d-flex justify-content-center">
        <div class="footer-col col-md-3">
          <h4>A Conect Elas</h4>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#missaovisao">O Projeto</a></li>
            <li><a href="#FAQ">O caminho até aqui</a></li>
            <li><a href="#devs">Desenvolvedores</a></li>
          </ul>
        </div>
        <div class="footer-col col-md-3">
          <h4>Conect-se</h4>
          <ul>
            <li><a href="">FAQ</a></li>
            <li><a href="#contato" target="_blank">Contato</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/cadastro">Cadastro</a></li>
          </ul>
        </div>
        <div class="footer-col col-md-3">
          <h4>LinkedIn</h4>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/danigoulart/" target="_blank"
                >Daniela Goulart</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/erikaeliskuo/"
                target="_blank"
                >Erika Kuo</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/vanessa-navarro-b02b24213/"
                target="_blank"
                >Vanessa Navarro</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/victor-costa-/"
                target="_blank"
                >Victor Costa</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/lgustavomachado97/"
                target="_blank"
                >Luiz Gustavo</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/leodsc/" target="_blank"
                >Leonardo Carvalho</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-3">
          <h4>Nossas redes</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- fim do footer  -->
  </footer>
</div>
