/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500&family=BIZ+UDGothic:wght@700&family=Comfortaa:wght@300;700&family=Gothic+A1:wght@700&family=Josefin+Sans:wght@100;200;300&family=Maven+Pro&family=Montserrat+Alternates:wght@100;200&family=Montserrat:wght@100&family=Press+Start+2P&family=Raleway:wght@300&family=Red+Hat+Mono&family=Smooch+Sans:wght@200&family=Yanone+Kaffeesatz:wght@300;400&display=swap");

/* COR FONTE ROXO ESCURO*/

/*
body{
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 0;
  margin: 0;
  background-size: cover;
  background: linear-gradient(45deg, #8536a7, #9145B6, #B958A5, #230d38 );
  background-size: 200% 300%;
  animation: color 5s ease-in infinite;

}*/

body {
  overflow-x: hidden;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 100%;
  }
}
