<main>
<div class="container-fluid ">

    <div class="row d-flex justify-content-center align-items-center mt-5 mr-4 ">
      <div class="col-md-6 corpo mt-2 box" data-aos="fade-right">
        <h1 class="ft-st text-center "><strong>Perguntas e Respostas</strong></h1>
        <p class="text-justify text-center textin mt-4 text-white">
          Aqui estarão algumas dúvidas frequentes sobre como fazer o melhor uso da Conect Elas.
        </p>
      </div>
     <div
        class="col-md-6 d-flex justify-content-center align-items-center mt-5"
        data-aos="fade-left"
        class=" mt-5">
        <img src="https://i.ibb.co/Smbpnw0/FAQs-amico.png" width="400px" class="mt-5" alt="" />
      </div>
    </div>
  </div>

<div class="row">
  <div class="card col-md-3 justify-content-center ">
    <h5 class="card-header font1 justify-content-center">Como cadastrar?</h5>
    <div class="card-body align-items-center">
      <p class="card-text font2 text-center">Realize o Cadastro utilizando um e-mail, senha e foto.
         Realize o cadastro escolhendo a opção de Usuário:"Normal"
      </p>
      <a routerLink="/cadastro" class="btn btn-2 justify-content-center ">Cadastrar</a>
    </div>
  </div>

  <div class="card col-md-3 justify-content-center ">
    <h5 class="card-header font1 justify-content-center">Como logar?</h5>
    <div class="card-body align-items-center">
      <p class="card-text font2 text-center">Realize o Login com o seu usuário (e-mail) e senha usados no momento do cadastro! Guarde sua senha.
      </p>
      <a routerLink="/login" class="btn btn-2 justify-content-center ">Login</a>
    </div>
  </div>

  <div class="card col-md-3 justify-content-center ">
    <h5 class="card-header font1 justify-content-center">Como usar foto?</h5>
    <div class="card-body align-items-center">
      <p class="card-text font2 text-center">
        Para inserir a foto no momento do cadastro ou realizar postagens, é necessário que
        seja enviada como um link. Recomendamos os seguites sites para você: <a href="https://imgbb.com/">Opção 1</a> ou <a href="https://imgur.com/">Opção 2</a>
      </p>
      <a routerLink="/home-desktop" class="btn btn-2 justify-content-center ">Página Inicial</a>
    </div>
  </div>
</div>

</main>
